html {
    font-family: sans-serif;
}

body {
    background-color: bisque;
}

.vertical-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    min-height: 100vh;
    flex-wrap: wrap;
}

header {
    min-width: 100vh;
    max-width: 1500px;
    background: rgba(219, 80, 173, 0.685);
    height: 100px;
    flex: 1;
    border-radius: 15px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

table {
    display: flex;
    min-width: 100vh;
    max-width: 1500px;
    max-height: 40px;
    flex: 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    background-color: rgb(255, 121, 204);
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    border-radius: 20px;
}

section {
    display: flex;
    min-width: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1500px;
    height: 100vh;
    justify-items: center;
    flex: 1;
}

.footer {
    display: flex;
    min-width: 100vh;
    max-width: 1500px;
    flex: 1;
    height: 40px;
    background-color: rgba(219, 80, 173, 0.685);
    border-radius: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
    line-height: 40px;
    margin-inline-start: 0px;
}

.logo {
    width: 100px;
    float: left;
}

th {
    padding-inline-start: 60px;
    padding-inline-end: 30px;
}

#nav {
    flex: 1;
    padding: 10px;
    margin: 10px;
    min-height: 200px;
    background-color: rgba(216, 44, 102, 0.767);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block-start: 20px;
    padding-block-end: 20px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 10px;
    margin-block-end: 10px;
    background-color: #fff;
}

article {
    flex: 3;
    padding: 10px;
    margin: 10px;
    background: rgba(192, 48, 55, 0.897);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}